@font-face {
  font-family: 'Marketing-Bold';
  src:  url('fonts/Marketing-Bold.eot?d5d08s');
  src:  url('fonts/Marketing-Bold.eot?d5d08s#iefix') format('embedded-opentype'),
    url('fonts/Marketing-Bold.ttf?d5d08s') format('truetype'),
    url('fonts/Marketing-Bold.woff?d5d08s') format('woff'),
    url('fonts/Marketing-Bold.svg?d5d08s#Marketing-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.scroll-top {
	background: linear-gradient(to bottom, #b12565 0, #e52355 100%);
	bottom: 20px;
	color: #fff;
	height: 40px;
	position: fixed;
	width: 40px;
	z-index: 999;
	transition: .3s;
	border-radius: 50%;
	line-height: 36px;
	right: -100px
}
.whatsapp-float {
  position: fixed;
  bottom: 65px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
[class^="icon-mkb-"], [class*=" icon-mkb-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Marketing-Bold' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mkb-group:before {
  content: "\e900";
}
.icon-mkb-connection:before {
  content: "\e901";
}
.icon-mkb-engagement:before {
  content: "\e902";
}
.icon-mkb-plus:before {
  content: "\e903";
}
.icon-mkb-stats:before {
  content: "\e904";
}
.icon-mkb-product:before {
  content: "\e905";
}
.icon-mkb-video:before {
  content: "\e906";
}
.icon-mkb-add:before {
  content: "\e907";
}
.icon-mkb-customize:before {
  content: "\e908";
}
.icon-mkb-growth:before {
  content: "\e909";
}
.icon-mkb-seo:before {
  content: "\e90a";
}
.icon-mkb-results:before {
  content: "\e90b";
}
